<section class = 'best col-padding'>
  <h2>Торгуйте с лучшими условиями!</h2>

    <div class="best-wrapper">
      <div class="best-inner">
        <div class="best-inner-circle">
            <p>1$</p>
        </div>
        <p>Минимальный объем для торговли</p>
      </div>
      <div class="best-inner">
        <div class="best-inner-circle">
            <p>250$</p>
        </div>
        <p>Минимальный депозит для трейдинга</p>
      </div>
      <div class="best-inner">
        <div class="best-inner-circle">
            <p>90%</p>
        </div>
        <p>Стабильного дохода от торговли</p>
      </div>
      <div class="best-inner">
        <div class="best-inner-circle">
            <p>3 <span>дня</span></p>
        </div>
        <p>Быстрый вывод средств — от 1 до 3 дней</p>
      </div>
      <div class="best-inner">
        <div class="best-inner-circle">
            <p>0%</p>
        </div>
        <p>Комиссии при выводе средств из личного счета</p>
      </div>

    </div>
</section>
