.footer {
  background: url('../img/black_bg.png') no-repeat 50% 50%;
  background-size: cover;
  color: $light-grey-font;
  flex-direction: column;
  padding-top:30px;
  padding-bottom: 15px;
  &-top {
    flex-direction: row;
    padding-bottom: 10px;
    &-left {
      flex-direction: column;
      width: 70%;
      &-inner {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        img {
          // height: 100px;
          width: auto;
        }
      }
    }
    &-right {
      width: 30%;
      justify-content: flex-end;
    }
  }
  .subscribe-btn {
    display: flex;
    font-size: $font-size-button;
    margin: auto 0;
    &:hover {
      opacity: .85;
      box-shadow: 0 0 10px $white;
    }

  }
  &-bottom {
    border-top: 1px solid $white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: $font-size-small;
    font-weight: 600;
    padding-top: 10px;
    p {
      margin: 0 auto;
      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width:1660px){

}
@media screen and (max-width:1399px){

}
@media screen and (max-width:1199px){
.footer{
  &-top{
    &-left{
      &-inner{
        img{
          height: 40px;
        }
      }
    }
  }
.subscribe-btn {
  font-size: $font-size-button-md;

}
}
}
@media screen and (max-width:991px){
  .footer{
    &-top{
      &-left{
        &-inner{
          img{
            height: 35px;
          }
        }
      }
    }

  }
}
@media screen and (max-width:767px){
.footer{
    padding-top:15px;
&-top{
  flex-direction: column;
  &-left{
    width: 100%;
  }
  &-right{
    margin: 25px auto;
    width: 100%;
  justify-content: center;
  }
}
}
}
@media screen and (max-width:600px){
  .footer{
    &-top{
      &-left{
        &-inner{
          img{
            height: 25px;
          }
        }
      }
    }

  }
}
