<footer class="footer col-padding">
<div class="footer-top">
  <div class="footer-top-left">
    <div class="footer-top-left-inner">
      <img src="../img/partner_1_1.png" alt="CIMB">
      <img src="../img/partner_1_2.png" alt="DBS">
      <img src="../img/partner_1_3.png" alt="Scotiabank">
      <img src="../img/partner_1_4.png" alt="BNP Paribas">
      <img src="../img/partner_1_5.png" alt="ANZ">

    </div>
    <div class="footer-top-left-inner">
      <img src="../img/partner_2_1.png" alt="Neteller">
      <img src="../img/partner_2_2.png" alt="Maestro">
      <img src="../img/partner_2_3.png" alt="MAsterCard">
      <img src="../img/partner_2_4.png" alt="VISA">
      <img src="../img/partner_2_5.png" alt="WebMoney">
      <img src="../img/partner_2_6.png" alt="QIWI">
      <img src="../img/partner_2_7.png" alt="Wire Transfer">
      <img src="../img/partner_2_8.png" alt="Western Union">
    </div>

  </div>
  <div class="footer-top-right">
<input type="button" name=""  class = 'subscribe-btn' value="Подписаться">
  </div>

</div>
<div class="footer-bottom">
<p>ВНИМАНИЕ: Рынок Forex, содержит маржинальные продукты, которые имеют высокий уровень риска и могут повлечь потерю всего инвестиционного капитала. Поэтому Рынок Forex может не подходить для всех инвесторов. Вы не должны рисковать тем, что не готовы потерять. Перед началом торговли, пожалуйста, убедитесь, что понимаете все риски и учитываете свой уровень опыта и ознакомьтесь с <span class = 'confidentiality'>Политикой Конфиденциальности</span> и <span class="risks">Уведомлением о рисках</span>.Вышеупомянутое является бенефициарным владельцем существующей компании Dantra Business Inc Limited, Geneva Place, Waterfront Drive, PO 3469, Road Town, Тортола, Британские Виргинские острова. (Далее - компания), зарегистрированная на Британских Виргинских островах. FXinvesting.com ©2015-2016 BP MEDIA GROUP LTD, Ajeltake road, Ajeltake Island, Majuro, MH96960, Marshall Island</p>
<p>Адрес: Suite 50, 2 Old Brompton Road, Лондон, SW7 3DQ, Великобритания</p>
</div>

</footer>
