<section class="banner col-padding">
    <h1>
        Протестируйте <br>
        <span class="gradient">новую платформу </span><br>
        Для трейдинга
    </h1>
    <ul>
        <li>Средства технического анализа</li>
        <li>Готовые торговых стратегии</li>
        <li>Уникальная безрисковая торговля</li>
    </ul>
    <form id = 'form1' action="index.html" method="post">
      <div class="input-wrapper">
        <span>Поле заполнено неверно</span>
        <input type="text" id = 'form1-email' placeholder="Введите Email">
      </div>
      <div class="input-wrapper">
        <span>Поле заполнено неверно</span>
        <input type="password" name="" value="" placeholder="Пароль">
      </div>


        <p>Нажимая на кнопку “Подписаться”, Вы подтверждаете, что достигли
18-летнего возраста и согласны с <span class="agreement">условиями предоставления услуг</span>
</p>
<input type="button" id = 'form1-button' class = 'subscribe-btn' value="Подписаться">
    </form>
    <div class="banner-img">

    </div>
</section>
