<section class="credo-trade col-padding">
  <h2>Credo Trade</h2>
<div class="credo-trade-wrapper">
  <div class="credo-trade-inner">
    <h3>Современная платформа</h3>
    <p>Быстрая и удобная. Мгновенное открытие торговых сделок. В один клик с лучшей ценой.
    </p>
  </div>
  <div class="credo-trade-inner">
    <h3>Индикаторы прогнозов</h3>
    <p>Они помогают улучшить точность прогнозов и количество сделок
    </p>
  </div>
  <div class="credo-trade-inner">
    <h3>Общая база стратегий</h3>
    <p>Опыт и секреты нашей успешной торговли — у вас под пальцами.
    </p>
  </div>

</div>


</section>
