html,body{
  font-size: $font-size-prime;
  background: $white;
  font-family: $font-family-main;
  z-index: 1;
}
body{

}
h1,h2{
  font-size:$font-size-header;
}
h3{
   font-size:$font-size-header-small;
 }