<header class="header col-padding">
  <div class="header-logo">

  </div>
  <div>
    <ul>
      <li>
        <label  class="agreement">
          <input type="button">
          Текст Условия торговли
        </label>
      </li>
      <li>
        <label  class="registration">
          <input type="button">
          Регистрация
        </label>
      </li>
      <li>
        <label  class="enter">
          <input type="button">
          Войти
        </label>
      </li>
    </ul>
  </div>
</header>
